<div class="container">
    <form>
        <div class="input-field">
            <input type="text" placeholder="Login" ng-model="username" id="username" />
            <!-- <label for="username">Username</label> -->
        </div>
        <div class="input-field">
            <input type="password" placeholder="Password" ng-model="password" id="password" />
            <!-- <label for="password">Password</label> -->
        </div>
        <div class="input-field">
            <button class="btn" ng-click="logIn()">Log in</button>
        </div>
    </form>
</div>
